# Rust build artifacts
/target/
**/*.rs.bk

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency folders
Cargo.lock

# By-products
*.exe
*.dll
*.so
*.dylib

# Backup files
*~
*.swp

# rust targets
# Exclude all target directories
**/target/

# python environment folder
\.venv/
# Python cache files
__pycache__/
# Python bytecode files
*.pyc